* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  padding: 20px;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.452);
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.card {
  box-shadow: #00000021 -3px 5px 6px 3px;
  border: solid rgba(0, 0, 0, 0.13) 1px;
  background-color: white;
  border-radius: 8px;
  width: 120px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.content-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 800%;
  height: 100%;
}

.card button {
  width: 40%;
  height: 20px;
}

.adicionar-novo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
}
